<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript">
	function on(unit) {
		ajax('http://' + window.location.hostname + ':8080/?unit=' + unit + '&op=on');
	}
	function off(unit) {
		ajax('http://' + window.location.hostname + ':8080/?unit=' + unit + '&op=off');
	}
	function ajax(url) {
		$('.spinner-area').addClass('spinner');
		$.ajax(url, {success: hideSpinner, error: hideSpinner});
	}
	function hideSpinner() {
		$('.spinner-area').removeClass('spinner');
	}
</script>

<div class="spinner-area"></div>
<table>
	<tr>
		<td>Tall lamp</td>
		<td><button onclick="on(1)">On</button></td>
		<td><button onclick="off(1)">Off</button></td>
	</tr>
	<tr>
		<td>Bulbous</td>
		<td><button onclick="on(2)">On</button></td>
		<td><button onclick="off(2)">Off</button></td>
	</tr>
	<tr>
		<td>Hall</td>
		<td><button onclick="on(3)">On</button></td>
		<td><button onclick="off(3)">Off</button></td>
	</tr>
	<tr>
		<td>Bedroom</td>
		<td><button onclick="on(8)">On</button></td>
		<td><button onclick="off(8)">Off</button></td>
	</tr>
</table>

<style type="text/css">
	.spinner {
	   position: absolute;
	   left: 50%;
	   top: 50%;
	   height:60px;
	   width:60px;
	   margin:0px auto;
	   -webkit-animation: rotation .6s infinite linear;
	   -moz-animation: rotation .6s infinite linear;
	   -o-animation: rotation .6s infinite linear;
	   animation: rotation .6s infinite linear;
	   border-left:6px solid rgba(0,174,239,.15);
	   border-right:6px solid rgba(0,174,239,.15);
	   border-bottom:6px solid rgba(0,174,239,.15);
	   border-top:6px solid rgba(0,174,239,.8);
	   border-radius:100%;
	}

	@-webkit-keyframes rotation {
	   from {-webkit-transform: rotate(0deg);}
	   to {-webkit-transform: rotate(359deg);}
	}
	@-moz-keyframes rotation {
	   from {-moz-transform: rotate(0deg);}
	   to {-moz-transform: rotate(359deg);}
	}
	@-o-keyframes rotation {
	   from {-o-transform: rotate(0deg);}
	   to {-o-transform: rotate(359deg);}
	}
	@keyframes rotation {
	   from {transform: rotate(0deg);}
	   to {transform: rotate(359deg);}
	}
</style>